#reportModal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 999;

}

#reportModal div {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    min-height: 50%;
    padding: 2rem;
    border-radius: 3px;
}

#reportModal span {
    display: block;
}

#reportModal button {
    background-color: black;
    color: #e5e5f7;
    letter-spacing: 1px;
}
